{% extends 'layout.html' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="">
                <div>
                    <label for="source_url" class="label my-8" style="padding: 1rem 0 1rem 0">To create a screenshot,
                        please provide url to create a screenshot.<br />
                        <small>The required format is: https://example.com | http://www.example.co.uk</small></label>
                </div>
                <div>
                    <input class="" type="text" name="source_url" placeholder="Source url" size="50%"
                        pattern="^(http|https):\/\/[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:\/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                        title="http://example.com | https://www.example.co.uk" required>
                    <button style="margin: 1rem 0 1rem 0" type="submit"
                        class="btn btn-secondary btn-sm mt-0">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}