<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Screenshot</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.upload_screenshot')}}">SCREENSHOTS</a>
            <span class="pull-right text-white"><a class="text-white" href="{{ url_for('api.get_api') }}">API</a><span class="text-white"> | </span>
            <span><a class="text-white" href="{{ url_for('api.get_screenshots') }}">List all saved screenshots</a></span>
        </div>
    </nav>
    {% block content %}
    <div class="container-fluid">
        {% block page_content %}

        {% endblock %}
    </div>
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>