{% extends 'layout.html' %}
{% block page_content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Screenshots API</a>
        <span class="pull-right"><a class="text-white" href="{{ url_for('api.upload_screenshot') }}">Create a screenshot</a><span class="text-white"> | </span><span><a class="text-white" href="{{ url_for('api.get_screenshots') }}">List all saved screenshots</a></span>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="my-4">All screenshots stored in database:
            </h2>
            <div class="card mb-4">
                <div style="text-align: left">
                    {% for screenshot in screenshots %}
                        {{ screenshot }}<hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}