{% extends 'layout.html' %}
{% block page_content %}
<div style="height:50px"></div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Image Data</h4>
                    <p class="card-text">{{ screenshot }}</p>
                </div>
                <div class="col-md-12" style="margin-top:30px">
                    <div class="row">
                        <div class="col-md-8 content-center">
                            <h4>Desktop view:</h4>
                            <div class=""><img src="{{ url_for('static', filename='uploads/' + desktop) }}"
                                    class="img-responsive" width="100%" alt="Screenshot"></div>
                        </div>
                        <div class="col-md-4 content-center">
                            <h4>Mobile view:</h4>
                            <div class=""><img src="{{ url_for('static', filename='uploads/' + mobile) }}"
                                    class="img-responsive" width="100%" alt="Screenshot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}